# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
build
# don't lint nyc coverage output
coverage
# Learning examples
src/01_javascript_fundamentals/01_variables_data_types/variables_basics.js