{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended" // Integrates Prettier with ESLint
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier" // Ensure Prettier plugin is listed
  ],
  "env": {
    "browser": true, // If you're targeting browsers, make sure this is true
    "node": true // If you're also working with Node.js, make this true
  },
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": [
          "log"
        ]
      }
    ], // Allow console.log(), but warn about other console methods
    "no-undef": "error",
    "no-unused-vars": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
